<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

<header>
</header>

<main>
    <h3>list..</h3>
    <% parseData.forEach(function(data) { %>
    <li><%= data.$.Body %></li>
    <% }); %>
</main>
</body>
</html>